@media (min-width: 0px){
.MuiBox-root.css-1guk29 {
    display: initial;
}}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root{
    background-color: #fff;
    color: #000
}